modules = ["python-3.11", "python-3.12", "web"]
run = "python3 manage.py runserver"

[nix]
channel = "stable-24_05"
packages = ["lsof"]

[deployment]
run = ["sh", "-c", "python3 manage.py runserver"]

[[ports]]
localPort = 8000
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 8080
externalPort = 8080
exposeLocalhost = true
