{% extends "index.html" %}

{% block title %}Architecture{% endblock %}
 {% load static %}

{% block content %}
<div class="heading">
    <h1>Architecture</h1>
</div>
<img class="banner1" src="static/framephoto.jpeg">
<div class="para">
    <h2> Architecture That Shapes the Future</h2>
    <p>
        our architectural design reflect a commitment to timeless elegance, sustainable practices, 
        and intelligent use of space. Each project is thoughtfully curated to respond to the 
        environment, client needs, and modern living standers - creating spaces that inspire, 
        endure, and elevate daily life. Architecture is not just about buildings — it's about 
        shaping experiences. We approach every project with a vision to transform ideas into 
        iconic structures, where every line and material tells a story of purpose, innovation,
         and beauty.
    </p>
</div>
<div class="grid-gallary">
    <div class="item img1"><img src="static/florishhome.jpeg" alt=""></div>
    <div class="item img2"><img src="static/paperwork.jpeg" alt=""></div>
    <div class="item img3"><img src="static/smallhome.jpeg" alt=""></div>
    <div class="item img4"><img src="static/archi.jpeg" alt=""></div>
    <div class="item img5"><img src="static/homelongimage.jpeg" alt=""></div>
</div>
{% endblock %}