{% extends "index.html" %}

{%block title %}Commercial {% endblock %}

{% block content %}
<div class="head-comm">
    <h1> Commercial </h1>
</div>
<div class="para-comm">
    <ul>
        <li>Office Interiors: Smart layouts and modern aesthetics that boost collaboration and efficiency.</li>

        <li>Retail Design: Engaging, brand-forward designs that drive foot traffic and customer experience.</li>
        <li>Hospitality Spaces: Elegant and functional environments that welcome and wow your guests.</li>

        <li>Custom Fit-Outs: Tailored design solutions that meet your exact business requirements.</li>
    </ul>
</div>
<div class="grid-items">
    <img src="static/maxresdefault.jpeg" class="items-1">
    <img src="static/office-hall.jpeg" class="items-2">
    <img src="static/radonchairs.jpeg" class="items-3">
    <img src="static/hos-cafe.jpeg" class="items-4">
    <img src="static/hospitality.jpeg" class="items-5">

    <img src="static/office-chairs.jpeg" class="items-6">
    <img src="static/office-com.jpeg" class="items-7">
    <img src= "static/white-ofice.jpeg "class="items-8">

</div>
{% endblock %}