<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{% block title %}SkyLifeInterior{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/brands.min.css" integrity="sha512-58P9Hy7II0YeXLv+iFiLCv1rtLW47xmiRpC1oFafeKNShp8V5bKV/ciVtYqbk2YfxXQMt58DjNfkXFOn62xE+g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
       
    </head>


</head>
<body>
    <nav class="navbar">
        <div class="nav-logo">SkyLifeInterior</div>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>

            <li class="dropdown">
                <a href="{% url 'service' %}" onclick="return false;">service</a>
                <ul class="drop-content">
                    <li class="dropdown-sub">
                    <a href="{% url 'interior' %}" onclick="return false">Interior Design</a>
                    <ul class="drop-content1">
                        <li><a href="{% url 'residential' %}">Residential</a></li>
                        <li><a href="{% url 'commercial' %}">commercial</a></li>
                    </ul>
                    </li>
                    <li><a href="{% url 'architectural' %}">Architecture</a></li>
                </ul>
            </li>
    
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>
    {% block content %}
    <img class="banner" src="{% static 'images/homeimage.jpeg' %}" alt="image" >
    
    <div class="grid-container">
        <div class="item1">
            <h1>Design That Feels Like Home</h1>
            <p class="lead">
                We specialize in creating spaces that feel like home — 
                thoughtfully designed, naturally inviting, and beautifully
                minimal. From interior styling to full-scale architectural 
                planning, we blend simplicity and warmth with timeless elegance.
                Let your home tell your story — with design that’s rooted in 
                meaning, and made to last.
              </p>
        </div>
        <div class="item2">
            <img src="{% static 'images/weare.jpeg' %}">
        </div>
    </div>
    <div class="grid-containers">
    <div class="box-1">
        <a class="link-1" href="{% url 'residential' %}">
            <img src="{% static 'images/residentialhome.jpeg' %}" height="320" alt="residential Interior">
            <p>Residential</p>
        </a>
    </div>
    <div class="box-2">
        <a class="link-2" href="{% url 'commercial' %}">
          <img src="{% static 'images/offi-com.jpeg' %}" height="320" alt="Commercial Interior">
          <p>Commercial</p>
        </a>
    </div>
    </div>

    {% endblock %}
<footer class="footer">
    <div class="footer-block address">
        <h3>Address</h3>
        <p>
            SkyLifeInterior<br>
            2798, Purohit Ji ka chowk<br>
            kalyan ji ka rasta<br>
            Indra Bazar, jaipur<br>
            Rajasthan, 302001<br>
        </p>
    </div>
    <div class="footer-block social-icons">
        <h3>&copy;2025 SkyLifeInterior</h3>
        <h4>Follow Us</h4>
        
        <div class="icons">
            <a href="https://www.facebook.com/nitinsharma" target="_blank">
            <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/nitin681sharma" target="_blank">
            <i class="fa-brands fa-instagram"></i>
            </a>
        </div>
    </div>
</footer>
</body>
</html>