{% extends "index.html" %}

{% block title %} Residential {% endblock %}
 {% load static %}

{% block content %}
<div class="head-resi">
    <h1>Residential</h1>
</div>

<div class="image-grid">
    <img  src="static/home-kitchen.jpeg" class="item-1">
    <img  src="static/roundtable.jpeg" class="item-2">
    <img  src="static/sofatable.jpeg" class="item-3">
    <img  src="static/bedrrom.jpeg" class="item-4">
</div>
<div class="inte-para">
    <p>
        Interior design is more than just decorating a space — it’s 
        about creating an atmosphere that reflects your personality, 
        inspires comfort, and enhances everyday living. We craft 
        interiors that blend beauty with functionality, turning your 
        house into a true home.
    </p>
</div>
<div class="image-grid2">
    <img src="static/furniture.jpeg" class="im-1">
    <img src="static/livingroom.jpeg" class="im-2">
    <img src="static/homedecor.jpeg" class="im-3">
    <img src="static/sofalamp.jpeg" class="im-4">
</div>
<div class="inte-para2" >
    <p>
        Transform your living space into a sanctuary where style 
        meets comfort. Our interior designs balance timeless elegance 
        with modern sensibility, making your home a reflection of who
        you are and how you want to live." 
        At SkyLifeInterior, we believe every room tells a story. Our 
        designs harmonize aesthetics and purpose, creating spaces that 
        not only look stunning but feel perfectly lived in. Discover 
        interiors that inspire and welcome you home.
    </p>
</div>
{% endblock %}